<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Action Metrics</title>

    <link
      href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  </head>
  <body style="padding-top: 70px">
    <% var parsedData = data; %>

    <!--Convert to yyyymmdd-->
    <% function getYMD(ogDate) { var y = ogDate.getFullYear(); var m =
    ogDate.getMonth() + 1; var d = ogDate.getDate(); var mm = m < 10 ? "0" + m :
    m; var dd = d < 10 ? "0" + d : d; return "" + y + "-" + mm + "-" + dd; } %>

    <!--Get index of dates within date range-->
    <% var inRange = []; var today = new Date(); var minD = getYMD(today); var
    maxD = getYMD(today); if (parsedData.minDate){ minD = parsedData.minDate; }
    if (parsedData.maxDate){ maxD = parsedData.maxDate; } for (var i in
    parsedData.records) { var thisDate = parsedData.records[i][2]; var year =
    thisDate.slice(6, 10); var month = thisDate.slice(0, 2); var monthInt =
    parseInt(month, 10); monthInt = monthInt - 1; month = monthInt.toString(10);
    var day = thisDate.slice(3, 5); var startDate = new Date(year, month, day);
    var reportDate = getYMD(startDate); if (reportDate >= minD && reportDate <=
    maxD) { inRange.push(i); } }%>

    <!--Navbar-->
    <nav
      class="navbar fixed-top navbar-expand-lg navbar-dark"
      style="background-color: black"
    >
      <a class="navbar-brand" href="#">Action Metrics</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav mr-auto">
          <form action="/reports" method="post">
            <input type="hidden" id="whichPage" name="whichPage" value="" />
            <input
              type="submit"
              class="btn"
              style="background-color: black; color: grey"
              value="Reports"
              onclick="setWhichPage('Reports');"
            />
            <input
              type="button"
              class="btn"
              style="background-color: black; color: white"
              value="Stats"
              onclick="setWhichPage('Stats');"
            />
          </form>
        </div>
        <div class="navbar-nav ml-auto">
          <form action="/stats" method="post">
            <span style="color: white">Count Start: </span>
            <input
              style="margin-right: 30px"
              type="date"
              id="minDate"
              name="minDate"
              value="<%=parsedData.minDate%>"
            />
            <input
              type="date"
              id="minShowDate"
              name="minShowDate"
              value="<%=parsedData.minShowDate%>"
            />
            <input
              type="date"
              id="maxDate"
              name="maxDate"
              value="<%=parsedData.maxDate%>"
            />
            <input type="submit" class="btn" value="Go" />
          </form>
        </div>
      </div>
    </nav>

    <!--get dates-->
    <%var formattedMinDate = new Date(parsedData.minDate); var formattedMaxDate
    = new Date(parsedData.maxDate); var diff = (formattedMaxDate -
    formattedMinDate)/1000/60/60/24; var dateList = []; dateList.push(
    formattedMaxDate.toLocaleDateString('en-US', {timeZone: 'UTC'} )); var
    dayBefore = new Date(formattedMaxDate); for (var i = diff; i > 0; i--) {
    dayBefore.setDate(dayBefore.getDate() - 1);
    dateList.push(dayBefore.toLocaleDateString('en-US', {timeZone: 'UTC'})); }
    %>

    <!--get dates to show-->
    <%var formattedMinDate = new Date(parsedData.minShowDate); var
    formattedMaxDate = new Date(parsedData.maxDate); var diff =
    (formattedMaxDate - formattedMinDate)/1000/60/60/24; var dateListShow = [];
    dateListShow.push( formattedMaxDate.toLocaleDateString('en-US', {timeZone:
    'UTC'} )); var dayBefore = new Date(formattedMaxDate); for (var i = diff; i
    > 0; i--) { dayBefore.setDate(dayBefore.getDate() - 1);
    dateListShow.push(dayBefore.toLocaleDateString('en-US', {timeZone: 'UTC'}));
    } %>

    <!--Report date to ymd-->
    <% function convertReportDateToYMD(inDate){ var tempDateStr =
    inDate.slice(0,10); tempDateStr = new Date (tempDateStr); return
    tempDateStr.toLocaleDateString('en-US', {timeZone: 'UTC'}); } %>

    <!--Get # WOs opened by date-->
    <% function openedTodayCount (inDate){ let count = 0; for (let i in
    parsedData.records){ let tempDate = new Date
    (parsedData.records[i][2].slice(0,10)); let recordDate =
    tempDate.toLocaleDateString('en-US', {timeZone: 'UTC'});
    console.log('opened:',inDate, recordDate); if (inDate == recordDate){
    count++; } } return count; }%>

    <!--Get # WOs closed by date-->
    <!--Only works if console.log is in the function???-->
    <% function closedTodayCount(inDate){ let closedList = []; let count = 0;
    for (let i in parsedData.records){ let tempDate = new Date
    (parsedData.records[i][3]); let recordDate =
    tempDate.toLocaleDateString('en-US', {timeZone: 'UTC'}); console.log(inDate,
    recordDate); if (inDate == recordDate){
    closedList.push(parsedData.records[i][0]); } }return closedList; }%>

    <!--Extract numbers from WO data-->
    <% function getDigits(woString){ let matches = woString.match(/\d+/g); let
    returnString = ""; for (let i in matches){ returnString += matches[i]; if (i
    < (matches.length - 1)){returnString += ", ";} } return returnString; } %>

    <!--Get total open WOs by day-->
    <% function getTotalOpenWOs(inDate){ let count = 0; let iDate = new
    Date(inDate); for (let i in parsedData.records){ let oDate = new
    Date(parsedData.records[i][2].slice(0,10)); let cDate = new
    Date(parsedData.records[i][3].slice(0,10)); let mnDate = new
    Date(parsedData.minDate.slice(0,10)); console.log('total open:',oDate,
    cDate, mnDate); if (oDate <= iDate && oDate >= mnDate){ if
    (!parsedData.records[i][3] || (parsedData.records[i][3] == "") || (cDate >
    iDate)){ count++; console.log('count increased', parsedData.records[i][0])}
    } } return count;}%>

    <table class="table table-striped table-dark">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col"># of WOs Opened Today</th>
          <th scope="col"># of WOs Closed Today</th>
          <th scope="col">WOs Closed Today</th>
          <th scope="col">Total Open WOs</th>
        </tr>
      </thead>

      <tbody>
        <%for (var i in dateListShow){ %>
        <tr>
          <td><%=dateListShow[i]%></td>
          <td><%=openedTodayCount(dateListShow[i])%></td>
          <% let closedList = closedTodayCount(dateListShow[i]); let cl = 0; if
          (closedList){ cl = closedList.length;}%>
          <td><%=cl%></td>
          <% let closedListStr = ""; for (let i in closedList) { closedListStr
          += closedList[i] + " "; } %>
          <td><%=getDigits(closedListStr)%></td>
          <td><%=getTotalOpenWOs(dateListShow[i])%></td>
        </tr>
        <%}%>
      </tbody>
    </table>

    <script></script>
  </body>
</html>
